body{
  
    margin: 0px;
    
}

.menu{
    display: flex;
   
    background-color: rgb(64, 134, 199);
    
}
.menu h1{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
   
    padding-top: 20px;
    padding-bottom: 20px;
}



h2{
    margin-left: 10%;
    margin-right: 10%;
}



.projectList{
    text-align: center;

    margin-left: 10%;
    margin-right: 10%;
   
    
    
}

.project{
    
	display: inline-flex;
    gap: 20px;
    padding: 20px;
    border: 1px solid lightgray;

    margin-left: auto;
     margin-right: auto;
	
    display: flex;
    flex-wrap: wrap;  
    gap: 20px;
    align-items: center;
    border: solid;
    border-color: lightgray;
    border-width: 1px;
   
}

a:link, a:visited {
  background-color: rgb(64, 134, 199);
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: rgb(55, 0, 255);
}

.thumbails {

    max-height: 300px;
    max-width: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    
}

ul{
    text-align: start;
}