

img{
    max-width: 800px;
    max-height: 400px;
     object-fit: cover;
    width: 100%;
    object-fit: contain;

    

}

.content{
    margin: 1rem;
    padding: .2rem;
    border: solid black 1px;
    background-color: #fcfcfc;

}

.imglegend{
    border: solid black 1px;
    text-align: center;
    margin-left: 16rem;
    margin-right: 16rem;
    padding: 0;

    
    

}

h3{
    background-color: rgb(64, 134, 199);
    padding: 0.5rem;
    
}
h4{
    text-decoration: underline;
    padding-left: 1rem;
}

p{
    padding-left: 1rem;
}
table{
    border-collapse: collapse;
    margin:1rem;

    
    
}
td{
    border: solid black 1px;
    margin: 0;
    padding: 1rem;
    
}

