

img{
   

    

}

.content{
    margin: 1rem;
    padding: .2rem;
    border: solid black 1px;
    background-color: #fcfcfc;

}

.imglegend{
    border: solid grey 1px;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;

    
    

}

h3{
    background-color: rgb(64, 134, 199);
    padding: 0.5rem;
    
}
h4{
    text-decoration: underline;
    padding-left: 1rem;
}

p{
    padding-left: 1rem;
}
table{
    border-collapse: collapse;
    margin:1rem;

    
    
}
td{
    border: solid black 1px;
    margin: 0;
    padding: 1rem;
    
}
.img{
    border: solid grey 1px;
    width: 70%;
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 1rem;
    margin-top: 1rem;
    
}
img{
    display: block;
     max-width: 800px;
    max-height: 400px;
     object-fit: cover;
    width: 100%;
    margin: auto;
    object-fit: contain;


}
